<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

    <header>
      <div class="header-logo">
        <%= link_to("写真投稿サイト","/")%>
      </div>
      <ul class="header-menus">
        <li>
          <%= link_to("写真投稿サイトとは","/about")%>
        </li>
        <li>
          <%= link_to("投稿一覧","/posts/index")%>
        </li>
      </ul>
    </header>
  <body>
    <%= yield %>
  </body>
</html>
